flask==3.0.3
flask-socketio==5.3.6
python-socketio==5.11.2
eventlet==0.36.1
websocket-client==1.8.0
paramiko==3.4.0
requests==2.32.3
opencv-python-headless==4.10.0.84
numpy==1.26.4
ultralytics==8.2.50
